<!-- home.html -->
{% extends "base.html" %}

{% block content %}
<div class="col-md-6 col-auto">
  <div class="card">
    <div class="card-header">
      NEOs ({{ is_cached|yesno:"cached,not cached" }})
    </div>
    <ul class="list-group list-group-flush">
      {% for neo in neos %}
      <li class="list-group-item">
        ID: {{ neo.id }}<br/>
        Name: {{ neo.name }}</li>
      {% endfor %}
    </ul>
    <ul class="list-group list-group-flush">
      {% for article in articles %}
      <li class="list-group-item">
        Title: {{ article.title}}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}